/* #EDC7B7 #EEE2DC #BAB2B5 #123C69 #AC3B61 */
body{
    font-family: 'Varela', sans-serif;
    background-color: #EEE2DC;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #123C69;
    font-weight: bold;
}

.fullname{
    margin-bottom: 0;
    font-size: 3em;
    margin-top: 0;
}

.subtitle{
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
}

.nickname{
    color: #AC3B61;
}

h4{
    color: #AC3B61;
    font-weight: bold;
    font-size: 1.1em;

}

.paragraph-heading{
    color: #123C69;
    font-weight: bold;
    font-size: 1.3em;
}

p{
    width: 80%;
}

.jumbotron{
    margin-top: 50px;
    width: fit-content;
    padding: 10px 20px;
    background-color: #EDC7B7;
    border-radius: 15px;;
}

.footnote{
    color: rgb(196, 196, 196);
}

.btn{
    color: white;
    font-size: bold;
}

.blue-btn{
    background-color: #123C69;
}

.red-btn{
    background-color: #AC3B61;
}


/*  */

.blue-btn:hover{
    background-color: white;
    color: #AC3B61;
    font-size: bold;
}

.red-btn:hover{
    color: #123C69;
    background-color: white;
    font-size: bold;
}


ul {
    list-style-type: none;
}

.things{
    margin-left: 10px;
}
